.take-out-enter {
  transform: translateY(0);
}
.take-out-enter-active {
  transform: translateY(100px);
  transition: all 500ms;
}
.take-out-enter-done {
	transform: translateY(100px);
}
.take-out-exit {
	transform: translateY(100px);	
}
.move-enter {
	transform: translateX(0);
}
.move-enter-active {
transform: translateX(40px);
  transition: all 500ms;	
}
.move-enter-done {
	transform: translateX(40px);
}

/*MergeSort*/
